a {
  text-decoration: none;
}

.l-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
}
.l-header__title {
  display: flex;
  margin: 0 0 0 21px;
  align-items: center;
}
.l-header__title__logo {
  display: flex;
}
.l-header__title img {
  height: 33px;
  width: auto;
}
.l-header__title span {
  display: inline-block;
  margin: 0 auto;
  padding-left: 20px;
  white-space: nowrap;
  line-height: 1.3;
  font-weight: 900;
  font-size: 14px;
  color: #000;
}
.l-header__title span strong {
  font-size: 1.2rem;
}
.l-header__link {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 700;
}
.l-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.l-header__nav__body {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.l-header__nav__body li {
  position: relative;
  display: flex;
  height: auto;
  transition: 0.3s;
}
.l-header__nav__body li:last-child a {
  background-color: #2498B3;
  color: #fff;
}
.l-header__nav__body a {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  color: #000;
  height: 70px;
  align-items: center;
}
.l-header__nav__body a:hover {
  background-color: #D4F1F8;
  height: 70px;
  align-items: center;
}
.l-header__nav__body li:hover .l-header__nav__accordion {
  display: block;
}

.l-header__nav__accordion {
  top: 70px;
  left: 0;
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1000;
}
.l-header .l-header__nav__accordion {
  top: 70px;
  left: 0;
  display: none;
  position: absolute;
}

.l-main {
  padding-top: 70px;
}
.l-main__topHead {
  position: relative;
  height: 650px;
  overflow: hidden;
  background: transparent url(/images/bg-hero3.webp) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.l-main__topHead__layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.l-main__topHead__layer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  background: transparent url(/images/bg-hero1.webp) no-repeat center center;
  z-index: 200;
}
.l-main__topHead__body {
  position: inherit;
  top: 70px;
  max-width: 530px;
  min-width: 412px;
  min-height: 331px;
  border-radius: 10px;
  padding: 43px 40px 23px 40px;
  background-color: #FFF;
  text-align: center;
  z-index: 300;
}
.l-main__topHead__tittle {
  display: block;
  line-height: 1.3;
  font-weight: 700;
  font-size: 16px;
}
.l-main__topHead__tittle img {
  width: 280px;
  height: auto;
}
.l-main__topHead__tittle p {
  margin: 1em 0 1.5em;
  line-height: 1.8;
}
.l-main__topHead__layer2 {
  background: transparent url(/images/bg-hero2.webp) no-repeat center center;
  z-index: 100;
}

.l-recomendation__wrapper {
  display: flex;
  background-color: #000;
  position: relative;
  justify-content: space-between;
  padding: 4em;
}

.l-recomendation {
  display: flex;
  color: #fff;
  font-weight: 700;
  z-index: 1000;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.l-recomendation__entry {
  min-width: 200px;
  margin: 0 40px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  width: 229px;
}
.l-recomendation__entry__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0.2em 0 0 0;
  font-weight: 700;
  font-size: 24px;
}
.l-recomendation__entry__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -263px;
  position: relative;
  color: #fff;
  background-color: #fff;
  border: solid 6px #000;
  border-radius: 50%;
  height: 230px;
  width: 230px;
}
.l-recomendation__entry__icon .fa-user:before {
  content: "\f007";
  color: #000;
  font-size: 100px;
}
.l-recomendation__entry__icon__body {
  width: 230px;
  height: auto;
  justify-content: center;
  color: #fff;
  line-height: 1.7;
  font-weight: 700;
  margin: 0.5em 0 0 0;
}

.c-btn a {
  padding: 24px 37px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #2498B3;
  border-color: #2498B3;
  border-radius: 5px;
  line-height: 1.3;
  display: inline-block;
}/*# sourceMappingURL=common.css.map */