@use "../foundation" as f;

.l-header{
    width: 100%;
    height: 70px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    
    &__title{
        display: flex;
        margin: 0 0 0 21px;
        align-items: center;
            &__logo{
                display: flex;
            }
            
            img{
                height: 33px;
                width: auto;
            }
           span{
                display: inline-block;
                margin: 0 auto;
                padding-left: 20px;
                white-space: nowrap;
                line-height: 1.3;
                font-weight: 900;
                font-size: 14px;
                color: #000;

                strong{
                    font-size: 1.2rem;
                }
            }   
        }
        
    &__link{
        display: flex;
        align-items: center;
        margin-left: auto;
        font-weight: 700;   
        }

    &__nav{
        height: 100%;
        display: flex;
        align-items: center;
        &__body{
            display: flex;
            margin: 0 ;
            padding: 0;
            list-style: none;
            
                li{
                    position: relative;
                    display: flex;
                    height: auto;
                    transition: 0.3s;
                    &:last-child a{
                        background-color: f.$link-lastchild;
                        color: #fff;
                    }
                    
                    &:hover .l-header__nav__accordion {
                        // ホバー時のアニメーション
                        display: block;
                        transform: scaleY(1);
                        transition: all 0.2s;
                    }
                }
                a{
                    position: relative;
                    display: flex;
                    padding: 0 15px;
                    color: #000;
                    height: 70px;
                    align-items: center;
                    
                    &:hover{
                        background-color: f.$link-hover;
                        height: 70px;
                        align-items: center;
                        transition: all 0.3s;
                    }
                }
            }
        }
        
}
.l-header__nav__accordion {
    top: 70px;
    left: 0;
    line-height: 1.7;
    width: auto;
    height: auto;
    // 非ホバー時ドロップダウンメニューを隠しておく
    transform: scaleY(0);
    transform-origin: center top;
    position: absolute;
    background-color: #E9F8FB; 
    z-index: 1000; 
    transition:  0;
    font-weight: 400;

    &:last-child ul li a{
        background-color: #E9F8FB;
        color: #000;
        height: auto;
        white-space: nowrap;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            position: relative;
            cursor: pointer;
            margin-left: 0;
            padding: 15px 60px 20px 0px;
            height: auto;
            width: auto;
            height: 60px;
            white-space: nowrap;

            &:hover{
                background-color: #fff;

                a{
                    color: cadetblue;
                }
                
            }
            }
            
            a{
                padding: 0;
                margin: 15px;  
            }
        }
    }
