.l-recomendation__wrapper{
    display: flex;
    background-color:#000;
    position: relative;
    justify-content: space-between;
    padding: 4em;

}
.l-recomendation{
    display: flex;
    color: #fff;
    font-weight: 700;
    z-index: 1000;
    justify-content: center;
    width: 100%;
    gap: 20px;
    &__entry{
        min-width: 200px;
        margin: 0 40px;
        padding: 10px;
        box-sizing: border-box;
        justify-content: center;
        width: 229px;

            &__title{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0.2em 0 0 0;
            font-weight: 700;
            font-size: 24px;
            }
            &__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: -263px;
            position: relative;
            color: #fff;
            background-color: #fff;
            border: solid 6px #000;
            border-radius: 50%;
            height: 230px;
            width: 230px;
              
            .fa-user:before {
                content: "\f007";
                color: #000;
                font-size: 100px;}
 
            &__body{
            width: 230px;
            height: auto;
            justify-content: center;
            color: #fff;
            line-height: 1.7;
            font-weight: 700;
            margin: 0.5em 0 0 0;
            }
        }    
    }
}