.l-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .l-header {
    height: 50px;
  }
}
.l-header__title {
  display: flex;
  margin: 0 0 0 21px;
  align-items: center;
}

.l-header__title__logo {
  display: flex;
}

.l-header__title img {
  height: 33px;
  width: auto;
}

.l-header__title span {
  display: inline-block;
  margin: 0 auto;
  padding-left: 20px;
  white-space: nowrap;
  line-height: 1.3;
  font-weight: 900;
  font-size: 14px;
  color: #000;
}

.l-header__title span strong {
  font-size: 1.2rem;
}

@media screen and (max-width: 1280px) {
  .l-header__title span {
    font-size: 12px;
    line-height: 1.2;
    padding-left: 10px;
    display: none;
  }
  .l-header__title span strong {
    font-size: 1rem;
  }
  .l-header__title span br {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .l-header__title span {
    display: none;
  }
}
.l-header__link {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .l-header__link {
    display: none;
  }
}
.l-header__hamburger {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .l-header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.l-header__hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #00A4BB;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 13px;
  left: auto;
}

.l-header__hamburger span:nth-child(1) {
  top: 14px;
}

.l-header__hamburger span:nth-child(2) {
  top: 24px;
}

.l-header__hamburger span:nth-child(3) {
  top: 34px;
}

.l-header__hamburger.active {
  background-color: #00A4BB;
}

.l-header__hamburger.active span {
  background-color: #fff;
}

.l-header__hamburger.active span:nth-child(1) {
  top: 24px;
  transform: rotate(-45deg);
}

.l-header__hamburger.active span:nth-child(2) {
  opacity: 0;
}

.l-header__hamburger.active span:nth-child(3) {
  top: 24px;
  transform: rotate(-135deg);
}

.l-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.l-header__nav__body {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-header__nav__body li {
  position: relative;
  display: flex;
  height: auto;
  transition: 0.3s;
}

.l-header__nav__body li:last-child a {
  background-color: #00A4BB;
  color: #fff;
}

.l-header__nav__body li:hover .l-header__nav__accordion {
  display: block;
}

.l-header__nav__body a {
  position: relative;
  display: flex;
  padding: 0 15px;
  color: #000;
  height: 70px;
  align-items: center;
}

.l-header__nav__body a:hover {
  background-color: #E9F8FB;
  height: 70px;
  align-items: center;
  transition: all 0.3s;
}

@media screen and (max-width: 1200px) {
  .l-header__nav {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .l-header {
    justify-content: space-between;
  }
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
  transition: height 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu.active {
  height: auto;
  max-height: calc(100vh - 50px);
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu ul li {
  height: 50px;
  position: relative;
  padding-right: 50px;
}

.mobile-menu ul li a {
  display: block;
  padding: 15px 20px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.mobile-menu ul li::before,
.mobile-menu ul li::after {
  content: "";
  position: absolute;
  background-color: #000;
  transition: all 0.3s ease;
}

.mobile-menu ul li::before {
  right: 13px;
  top: 50%;
  width: 25px;
  height: 2px;
  transform: translateY(-50%);
}

.mobile-menu ul li::after {
  right: 24px;
  top: 50%;
  width: 2px;
  height: 25px;
  transform: translateY(-50%);
}

.mobile-menu ul li.teacher-intro::before,
.mobile-menu ul li.teacher-intro::after {
  content: none;
}

.l-header__nav__accordion {
  top: 70px;
  left: 0;
  line-height: 1.7;
  width: auto;
  height: auto;
  display: none;
  position: absolute;
  background-color: #E9F8FB;
  z-index: 1000;
  transition: 0;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .l-header__nav__accordion {
    top: 50px;
    position: static;
    display: none;
    background-color: #f9f9f9;
  }
}
.l-header__nav__accordion:last-child ul li a {
  background-color: #E9F8FB;
  color: #000;
  height: auto;
  white-space: nowrap;
}

.l-header__nav__accordion ul {
  list-style: none;
  padding: 0;
}

.l-header__nav__accordion ul li {
  position: relative;
  cursor: pointer;
  margin-left: 0;
  padding: 15px 60px 20px 0px;
  height: auto;
  width: auto;
  height: 60px;
  white-space: nowrap;
}

.l-header__nav__accordion ul li:hover {
  background-color: #fff;
}

.l-header__nav__accordion ul li:hover a {
  color: cadetblue;
}

.l-header__nav__accordion ul a {
  padding: 0;
  margin: 15px;
}

.l-main {
  padding-top: 70px;
}
@media screen and (max-width: 1200px) {
  .l-main {
    padding-top: 50px;
  }
}
.l-main__topHead {
  position: relative;
  height: 650px;
  overflow: hidden;
  background: transparent url(/images/bg-hero3.webp) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 767px) {
  .l-main__topHead {
    height: 320px;
    width: 100vw;
  }
}
.l-main__topHead__layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .l-main__topHead__layer {
    align-items: flex-end;
    height: 320px;
    width: 100%;
  }
}
.l-main__topHead__layer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  background: transparent url(/images/bg-hero1.webp) no-repeat center center;
  z-index: 200;
}
@media screen and (max-width: 767px) {
  .l-main__topHead__layer1 {
    height: 320px;
    width: 100%;
    background-size: cover;
    align-items: flex-end;
    background-position: center -30px;
  }
}
.l-main__topHead__body {
  position: inherit;
  top: 70px;
  max-width: 530px;
  min-width: 412px;
  min-height: 331px;
  border-radius: 10px;
  padding: 43px 40px 23px 40px;
  background-color: #FFF;
  text-align: center;
  z-index: 300;
}
@media screen and (max-width: 767px) {
  .l-main__topHead__body {
    height: 156px;
    margin-top: 94px;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    border-radius: 0;
  }
  .l-main__topHead__body p {
    margin: 0.5em 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) and (max-width: 400px) {
  .l-main__topHead__body p {
    white-space: wrap;
  }
}
.l-main__topHead__tittle {
  display: block;
  line-height: 1.3;
  font-weight: 700;
  font-size: 16px;
}
.l-main__topHead__tittle img {
  width: 280px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .l-main__topHead__tittle img {
    display: none;
  }
}
.l-main__topHead__tittle p {
  margin: 1em 0 1.5em;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .l-main__topHead__tittle p {
    margin-bottom: revert-layer;
  }
}
.l-main__topHead__layer2 {
  background: transparent url(/images/bg-hero2.webp) no-repeat center center;
  z-index: 100;
}

.l-recomendation__wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  position: relative;
  justify-content: space-between;
  padding: 4em 1em;
}

.l-recomendation {
  display: flex;
  color: #fff;
  font-weight: 700;
  z-index: 500;
  justify-content: center;
  width: 100%;
  gap: 60px;
  flex-wrap: wrap;
}
.l-recomendation__entry {
  max-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
}
.l-recomendation__entry__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0.2em 0 0 0;
  font-weight: 700;
  font-size: 24px;
}
.l-recomendation__entry__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -263px;
  color: #fff;
  background-color: #fff;
  border: solid 6px #000;
  border-radius: 50%;
  height: 230px;
  width: 230px;
}
@media screen and (max-width: 767px) {
  .l-recomendation__entry__icon {
    margin-top: 0;
    margin: 0 auto;
  }
}
.l-recomendation__entry__icon .fa-user:before {
  content: "\f007";
  color: #000;
  font-size: 100px;
}
.l-recomendation__entry__body {
  width: 230px;
  height: auto;
  justify-content: center;
  color: #fff;
  line-height: 1.7;
  font-weight: 700;
  margin: 0.5em auto 0;
}

@media (max-width: 1200px) {
  .l-recomendation {
    gap: calc(60px + (100vw - 1200px) * 0.1);
  }
  .l-recomendation__entry {
    flex-basis: calc(33.33% - 40px);
    max-width: calc(33.33% - 40px);
    width: calc(33.33% - 40px);
  }
  .l-recomendation__entry__body {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .l-recomendation__wrapper {
    padding: 4em 0.5em;
  }
  .l-recomendation {
    gap: 20px;
    justify-content: center;
  }
  .l-recomendation__entry {
    flex-basis: 100%;
    max-width: none;
    width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }
  .l-recomendation__entry__body {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .l-recomendation__wrapper {
    padding: 4em 0;
  }
  .l-recomendation__entry {
    flex-basis: 100%;
    max-width: 300px;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */